<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>CanJS: sorting and filtering datas</title>

        <link rel="stylesheet" type="text/css" href="assets/styles/style.css" />

        <script src="assets/scripts/require.js" data-main="assets/scripts/main"></script>

    </head>
    <body>
        <a href="https://github.com/etiennetremel/CanJS-Ordering-Filtering-Example"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

        <div id="loader"></div>

        <div id="wrap"></div>
        <div id="single-album" class="hide"></div>

        <script type="text/ejs" id="listAlbums">
            <div class="filters">
                <p><span class="filter reset">Reset</span></p>
                <p>Order By: <span class="filter order-desc">Order DESC</span> <span class="filter order-asc">Order ASC</span></p>
                <p>
                    Label:
                    <select id="filter-by-label">
                        <option>All</option>
                        <% list(datas.Labels, function(label){ %>
                        <option><%= label %></option>
                        <% }); %>
                    </select>
                </p>
                <p>
                    Genre:
                    <select id="filter-by-genre">
                        <option>All</option>
                        <% list(datas.Genres, function(genre){ %>
                        <option><%= genre %></option>
                        <% }); %>
                    </select>
                </p>
                <p>Disc: <label for="disc_1"><input type="radio" name="disc" data-key="discs" id="disc_1" value="1" /> 1</label> <label for="disc_2"><input type="radio" name="disc" data-key="discs" id="disc_2" value="2" /> 2</label></p>
                <p>
                <p>Genre:
                    <label for="genre_1"><input type="checkbox" name="genre[]" id="genre_1" data-key="genres" value="Pop" checked="checked" /> Pop</label>
                    <label for="genre_2"><input type="checkbox" name="genre[]" id="genre_2" data-key="genres" value="Dance & DJ" checked="checked" /> Dance & DJ</label>
                    <label for="genre_3"><input type="checkbox" name="genre[]" id="genre_3" data-key="genres" value="Blues" checked="checked" /> Blues</label>
                    <label for="genre_4"><input type="checkbox" name="genre[]" id="genre_4" data-key="genres" value="Country" checked="checked" /> Country</label>
                    <label for="genre_5"><input type="checkbox" name="genre[]" id="genre_5" data-key="genres" value="Jazz" checked="checked" /> Jazz</label>
                    <label for="genre_6"><input type="checkbox" name="genre[]" id="genre_6" data-key="genres" value="Rap" checked="checked" /> Rap</label>
                    <label for="genre_7"><input type="checkbox" name="genre[]" id="genre_7" data-key="genres" value="Hip-Hop" checked="checked" /> Hip-Hop</label>
                    <label for="genre_8"><input type="checkbox" name="genre[]" id="genre_8" data-key="genres" value="Rock" checked="checked" /> Rock</label>
                    <label for="genre_9"><input type="checkbox" name="genre[]" id="genre_9" data-key="genres" value="Alternative Rock" checked="checked" /> Alternative Rock</label>
                    <label for="genre_10"><input type="checkbox" name="genre[]" id="genre_10" data-key="genres" value="Hard Rock & Metal" checked="checked" /> Hard Rock & Metal</label>
                </p>
                <p>
                <p>Price: <span class="filter less-than-5">price < $5</span> <span class="filter between-5-and-10">price > $5 > and price < $10</span> <span class="filter more-than-10">price > $10</span></p>
            </div>
            <ul class="albums">
            <% list(datas.Albums, function(album){ %>
                <li class="<%= (album.attr('visible')) ? '' : 'hide'; %>">
                    <div class="thumbnail">
                        <img src="assets/images/<%= album.cover[0] %>" alt="" />
                    </div>
                    <div class="details">
                        <p class="title"><%= shortenize(album.title, 40) %></p>
                        <p class="artist">by <%= shortenize(album.artist, 20) %></p>
                    </div>
                </li>
            <% }); %>
            </ul>
        </script>

        <script type="text/ejs" id="singleAlbum">
            <div class="cover">
                <img src="assets/images/<%= album.cover[0] %>" alt="" />
            </div>
            <h2><%= album.title %></h2>
            <table border="0">
                <tr><td>Artist</td><td><%= album.artist %></td></tr>
                <tr><td>Label</td><td><%= album.label %></td></tr>
                <tr><td>Number of disc</td><td><%= album.discs %></td></tr>
                <tr><td>Release Date</td><td><%= album.released %></td></tr>
                <tr><td>Total Length</td><td><%= album.length %></td></tr>
                <tr><td>Genres</td><td><%= album.genres.join(', ') %></td></tr>
                <tr><td>Price</td><td><%= album.price %></td></tr>
            </table>
            <div class="close">Close &rarr;</div>
        </script>
    </body>
</html>